.mapWrapper{
    .backSvg{
        width: 5%;
        filter: brightness(0) invert(1);
        padding-left: 5%;
    }
    .mapSvg{
        filter: brightness(0) invert(1);
        height: 60vh;
        width: 100%;
    }
}